<div class="about">
	<h1>My Story</h1>
	<p>Create personalized stories. Generally adventures that you and your totally customizable imaginary pet are going on. Yay adventures!</p>

	<%= link_to "Make Your Own", new_story_path %>
</div>



<div class="list">
<ul>
<% @stories.each do |s| %>
	<li><%= link_to s.title, s %></li>
	<p>by <%= s.name %></p>
<% end %>
</ul>

</div>